<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Coffee.Fields.Count" value="5" />
    
    <add key="Coffee.Fields0.Type" value="CriticalArcTest.IO.Input.Bool" />
    <add key="Coffee.Fields0.Question" value="Large?" />
    <add key="Coffee.Fields0.FieldName" value="IsLarge" />
    
    <add key="Coffee.Fields1.Type" value="CriticalArcTest.IO.Input.Bool" />
    <add key="Coffee.Fields1.Question" value="Milk?" />
    <add key="Coffee.Fields1.FieldName" value="HasMilk" />
    
    <add key="Coffee.Fields2.Type" value="CriticalArcTest.IO.Input.Int" />
    <add key="Coffee.Fields2.Question" value="How many sugars?" />
    <add key="Coffee.Fields2.FieldName" value="NumSugars" />
    
    <add key="Coffee.Fields3.Type" value="CriticalArcTest.IO.Input.Bool" />
    <add key="Coffee.Fields3.Question" value="Foam the milk?" />
    <add key="Coffee.Fields3.FieldName" value="MilkIsFoamed" />

    <add key="Coffee.Fields4.Type" value="CriticalArcTest.IO.Input.Bool" />
    <add key="Coffee.Fields4.Question" value="Add chocolate sprinkles?" />
    <add key="Coffee.Fields4.FieldName" value="HasSprinkles" />
  </appSettings>
</configuration>